<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Ежедневное потребление</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
  <h1>Ежедневное потребление на <span th:text="${date}">Дата</span></h1>
  <div>
    <a th:href="@{/products/all}" class="btn">Добавить продукты</a>
    <a th:href="@{/users/all}" class="btn">Добавить пользователей</a>
  </div>
  <table>
    <thead>
    <tr>
      <th>Имя пользователя</th>
      <th>Лимит калорий</th>
      <th>Потреблено калорий</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="info : ${userDailyInfos}">
      <td th:text="${info.username}">Имя пользователя</td>
      <td th:text="${info.dailyCalorieLimit}">Лимит калорий</td>
      <td th:text="${info.dailyCaloriesConsumed}">Потреблено калорий</td>
      <td>
        <a th:href="@{/users/detail/{id}(id=${info.userId})}" class="btn">Подробнее</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/}">Обновить</a>
</div>
</body>
</html>
