<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Продукты</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Продукты</h1>
    <form action="#" th:action="@{/products/add}" th:object="${product}" method="post">
        <div class="form-group">
            <label for="name">Название продукта</label>
            <input type="text" id="name" th:field="*{name}" required/>
        </div>
        <div class="form-group">
            <label for="per100g">Калорийность на 100 гр</label>
            <input type="number" id="per100g" th:field="*{calories100g}" required/>
        </div>
        <div class="form-group">
            <label for="proteins">Белки на 100 гр</label>
            <input type="number" id="proteins" th:field="*{proteins}" required/>
        </div>
        <div class="form-group">
            <label for="fats">Жиры на 100 гр</label>
            <input type="number" id="fats" th:field="*{fats}" required/>
        </div>
        <div class="form-group">
            <label for="carbohydrates">Углеводы на 100 гр</label>
            <input type="number" id="carbohydrates" th:field="*{carbohydrates}" required/>
        </div>
        <button type="submit" class="btn-submit">Добавить продукт</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>Название продукта</th>
            <th>Калорийность на 100 гр</th>
            <th>Белки на 100 гр</th>
            <th>Жиры на 100 гр</th>
            <th>Углеводы на 100 гр</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}">Название продукта</td>
            <td th:text="${product.calories100g}">Калорийность на 100 гр</td>
            <td th:text="${product.proteins}">Белки на 100 гр</td>
            <td th:text="${product.fats}">Жиры на 100 гр</td>
            <td th:text="${product.carbohydrates}">Углеводы на 100 гр</td>
            <td>
                <button type="button" class="btn-edit" th:data-id="${product.id}" data-toggle="modal" data-target="#editModal">Изменить</button>
                <a th:href="@{/products/delete/{id}(id=${product.id})}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}">Домой</a>
</div>

<div id="editModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Редактировать продукт</h2>
        <form id="editForm" method="post">
            <input type="hidden" id="editId" name="id"/>
            <div class="form-group">
                <label for="editName">Название продукта</label>
                <input type="text" id="editName" name="name" required/>
            </div>
            <div class="form-group">
                <label for="editPer100g">Калорийность на 100 гр</label>
                <input type="number" id="editPer100g" name="calories100g" required/>
            </div>
            <div class="form-group">
                <label for="editProteins">Белки на 100 гр</label>
                <input type="number" id="editProteins" name="proteins" required/>
            </div>
            <div class="form-group">
                <label for="editFats">Жиры на 100 гр</label>
                <input type="number" id="editFats" name="fats" required/>
            </div>
            <div class="form-group">
                <label for="editCarbohydrates">Углеводы на 100 гр</label>
                <input type="number" id="editCarbohydrates" name="carbohydrates" required/>
            </div>
            <button type="submit" class="btn-submit">Сохранить изменения</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.btn-edit').click(function() {
            var productId = $(this).data('id');
            var product = findProductById(productId);
            if (product) {
                $('#editId').val(product.id);
                $('#editName').val(product.name);
                $('#editPer100g').val(product.calories100g);
                $('#editProteins').val(product.proteins);
                $('#editFats').val(product.fats);
                $('#editCarbohydrates').val(product.carbohydrates);
                $('#editModal').show(); // Открываем модальное окно
            }
        });

        // Закрываем модальное окно при клике на крестик
        $('.close').click(function() {
            $('#editModal').hide();
        });

        // Закрываем модальное окно при клике за его пределами
        $(window).click(function(event) {
            if ($(event.target).is('#editModal')) {
                $('#editModal').hide();
            }
        });

        $('#editForm').submit(function(e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/products/update/' + $('#editId').val(),
                data: formData,
                success: function() {
                    window.location.href = '/products/all';
                }
            });
        });

        function findProductById(id) {
            var products = $('tr').filter(function() {
                return $(this).find('.btn-edit').data('id') === id;
            });
            if (products.length > 0) {
                var product = {
                    id: id,
                    name: products.find('td:nth-child(1)').text(),
                    calories100g: products.find('td:nth-child(2)').text(),
                    proteins: products.find('td:nth-child(3)').text(),
                    fats: products.find('td:nth-child(4)').text(),
                    carbohydrates: products.find('td:nth-child(5)').text()
                };
                return product;
            }
            return null;
        }
    });
</script>

</body>
</html>